
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f3f3f3;
  color: #333;
  width: -webkit-fill-available;
}

header {
  background-color: #673ab7;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.intro {
  text-align: center;
  padding: 2rem;
}

.perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.projects {
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .projects {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
  }
}


.project {
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.project a {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: #673ab7;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  text-align: center;
  padding: 2rem;
}

.contact button {
  background-color: #673ab7;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


