:root {
    --purple: #6a0dad;  /* Morado principal */
    --light-purple: #9b59b6; /* Morado claro */
    --dark-purple: #4b0082; /* Morado oscuro */
    --white: #ffffff;
    --gray: #f5f5f5;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f3f3f3;
  color: #333;
  width: -webkit-fill-available;
}

header {
  background: linear-gradient(135deg, var(--purple), var(--light-purple));
  color: var(--white);
  text-align: center;
  padding: 2rem 1rem;
}

.intro {
  text-align: center;
  padding: 2rem;
}

.perfil {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.projects {
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .projects {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
  }
}


.project {
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.project a {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: var(--purple);
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  text-align: center;
  padding: 2rem;
}

.contact button {
  background-color: var(--purple);
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
img{
  width: 200px;
  height: 200px;
}
img:hover {
    box-shadow: 0 2px 8px var(--light-purple); /* Ajusta los valores según prefieras */
    transition: box-shadow 0.3s ease; /* Efecto suave */
}

